<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>FirstRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      BeCode.org © 2020 <br><hr>
      <%=image_tag("logo.png", :class => 'image_style', :style => 'max-width: 5%; height: auto')%>
    </footer>
  </body>
</html>
